@font-face {
  font-family: "IranNastaliq";
  src: url("./IranNastaliq.ttf") format("truetype");
}

@font-face {
  font-family: "B Nazanin";
  src: url("./Far_Nazanin.ttf") format("truetype");
}

@font-face {
  font-family: "B Lotus";
  src: url("./B Lotus_0.ttf") format("truetype");
}

@font-face {
  font-family: "B Titr";
  src: url("./Far_TitrBd.ttf") format("truetype");
}

@font-face {
  font-family: "B Roya";
  src: url("./B Roya_0.ttf") format("truetype");
}

@font-face {
  font-family: "Vazirmatn";
  src: url("./Vazirmatn-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IRANSansWebFaNum";
  src: url("./IRANSansWeb(FaNum).ttf") format("truetype");
}